@using Agency.Business.ViewModels.ProductVM
@model CreateProductVM

<div class="container">
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="Title">Title</label>
            <input asp-for="Title" class="form-control">
            <span asp-validation-for="Title" style=" color: red"></span>
        </div>

        <div class="form-group">
            <label asp-for="Description">Description</label>
            <input asp-for="Description" class="form-control">
            <span asp-validation-for="Description" style=" color: red"></span>
        </div>

        <div class="form-group">
            <label asp-for="Icon">Icon</label>
            <input asp-for="Icon" class="form-control">
            <span asp-validation-for="Icon" style=" color: red"></span>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>